.layout {
  min-height: 100vh;
  position: relative;

  &__main {
    position: relative;
    z-index: 10;
    background: transparent;

    >section {
      position: relative;
      z-index: 10;
      background: transparent;
    }
  }
}
